@{
    ViewData["Title"] = "Home Page";
    Layout="~/views/shared/_mylayout3.cshtml";
}

<body class="f1">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>TO</h3>
        <h1 class="t1">POWER HOTEL</h1>
    </div>
    <a class="b12" href="~/Home/RoomSELECTOR">BOOK NOW</a>
    <br />
    <a class="b13" href="~/reservation/GuestLogIn">ALREADY BOOKED</a>
    <br />
    <br />
    <br />
    <br />
    <div class="pro side" id="psideG">

        <ul id="psideP">

            <li id="psideC">
                <h3>For best experince please download our App</h3>
            </li>
            <li><h3>Download Now!!!</h3></li>
        </ul>
        <img id="dwn" src="~/images/downl.gif" alt="" />
    </div>
    <div class="pro advert">

        <ul>
            <li><h2 text="red">Advert here:</h2></li>
            <li><h3>Call Us Know!!!</h3></li>
        </ul>

        <br />
    </div>
</body>
