
@{
    ViewData["Title"] = "RoomSELECTOR";
}

<body class="f2">
    
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <a   class="b12" href="~/reservation/singleRoom">SINGLE BED ROOMS</a>
    <br />
    <a class="b13" href="~/reservation/DoubleRoom">DOUBLE BED ROOMS</a>
  
</body>